[submodule "apps/_common/redis-client/hiredis"]
	path = apps/_common/redis-client/hiredis
	url = https://github.com/redis/hiredis.git
[submodule "ref/uthash"]
	path = ref/uthash
	url = git@github.com:troydhanson/uthash.git
